/* Основные стили */
html {
    background-color: #2e3549; /* тёмный фон */
    color: #f8f8f2; /* светлый текст */
    font-family: 'Lato', 'Segoe UI', "Trebuchet MS", Verdana, sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
}

/* Шапка */
header {
    text-align: center;
    font-size: 30px;
    background-color: #252c41;
    padding: 0.1em 0 0.3em;
    border-bottom: 1px solid #f0c674;
}

header a {
    text-decoration: none;
}

header a #base-part {
    color: #8be9fd;
}

header a #chat-part {
    color: #f0c674;
}

/* Контейнер основной части */
main {
    padding: 20px;
}

/* Скрытый элемент */
.hidden {
    display: visible; /* заменено visibility: s на валидное значение */
}

/* Форма входа/регистрации */
.auth-form {
    position: absolute;
    background-color: #252c41;
    top: 20%;
    left: 40%;
    right: 40%;
    padding: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 20%;
    max-width: 50%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

/* Поля ввода */
.auth-form input {
    margin: 0.3rem 0.3rem 0.9rem;
    font-weight: bold;
    height: 1.2rem;
    color: #f8f8f2;
    border: 1px solid #f0c674;
    background-color: transparent;
    border-radius: 1em;
    padding: 5px 15px;
}

/* Метки */
.auth-form label {
    margin: 0.3rem;
}



/* Кнопка */

button[type="submit"]{
    background-color: #f0c674;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e0b866;
}

.auth-form button[type="submit"] {
    padding: 0.5rem 1.5rem;
    margin: 0.3rem;
    border-radius: 1em;
    border: 1px solid #636363;
}



/* Ссылки под формой */
.auth-form p {
    margin-top: 1.5rem;
    text-align: center;
    color: #f8f8f2;
}

.auth-form a {
    color: #8be9fd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-form a:hover {
    color: #f0c674;
    text-decoration: underline;
}








/*Chat*/

.chat-column  {
    display: flex;
    flex-flow: column;
}

.messages {
    flex: 9;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    overflow: hidden;
    overflow-y: auto;
    max-height: 70vh; /* или по ситуации */
    padding-bottom: 3rem;
}

/* Сообщения */

.message {
    max-width: 60%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    
    color: #2e3549;

    position: relative;
    word-wrap: break-word;
}

.left {
    align-self: flex-start;
    border-bottom-left-radius: 8%;

    background-color: #cca452;
}


.right {
    align-self: flex-end;
    border-bottom-right-radius: 6%;
    background-color: #f0c674;

}

/* Временный вариант*/

.message.right::after {
    content: '';
    position: absolute;
    right: -4px; /* отступ от правого края */
    top: 1.7rem;width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid #f0c674;
    
}

.message.left::after {
    content: '';
    position: absolute;
    left: -4px; /* отступ от правого края */
    top: 1.7rem;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid #cca452;
    
}


/* Поле для отправки сообщения*/
.message-form {
    flex: 1;
    display: flex;
    flex-direction: row;

    position: fixed;
    bottom: 2%;
    left: 2%;
    right: 2%;
    height: 2rem;

}

.message-form input {
    flex: 9;
    background-color: #252c41;
    
    font-size: 1rem;
    color: #f8f8f2;

    border-color: #f0c674;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right-style: none;
}

.message-form input:focus {
    outline: #e0b866;
}

.message-form input::placeholder {
    color: #949490;
    opacity: 0.7;
}

.message-form button[type="submit"] {

    border-width: 1px;
    border-style: solid;
    border-color: #f0c674;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}












/* Адаптивность */
@media (max-width: 500px) {
    .auth-form {
        left: 10%;
        right: 10%;
    }
}

@media (max-width: 800px) and (min-width: 500px) {
    .auth-form {
        left: 20%;
        right: 20%;
    }
}

@media (max-width: 1360px) and (min-width: 800px) {
    .auth-form {
        left: 30%;
        right: 30%;
    }
}